name: Run scraper

on:
  schedule:
    - cron: "0 8,20 * * *"   # Runs at 08:00 and 20:00 UTC every day
  workflow_dispatch:          # Allows manual run from GitHub UI
  push:
    branches:
      - master

jobs:
  scrape:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.12'

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt
          sudo apt-get update
          sudo apt-get install -y chromium-browser



      - name: Run scraper
        env:
          CHROME_BIN: /usr/bin/chromium-browser
        run: |
          python scraper.py
